* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

:root {
  --primary-color: #3c591d;
  --primary-1: #4d744c;
  --primary-2: #d0e8cf;
  --black-1: #2d2d2d;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 0 14px;
}

.full-section {
  min-height: 100vh;
}

/* Navbar */

.nav {
  display: flex;
  font-weight: 500;
  line-height: 22px;
  font-size: 22px;
  color: #000;
  align-items: center;
  justify-content: space-between;
  margin: auto 40px;
  background-color: transparent;
  height: 10vh;
}

.headline-section {
  min-height: 100vh;
}

.logo span {
  font-size: 26px;
  margin-left: 5px;
  font-size: 700;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 36px;
  height: 36px;
}

.nav-items,
.nav-icons {
  display: flex;
}

.nav-items {
  gap: 2.5rem;
  font-size: 20px;
}

.nav-icons {
  gap: 0.8rem;
}

.nav-icons img {
  width: 20px;
  height: 20px;
  color: #000;
}

/* Headline content */

.headline-container {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.main-plant,
.main-second {
  z-index: 3;
}

.main-plant {
  width: 25%;
  height: 80%;
  margin-left: 200px;
}

.main-second {
  width: 15%;
  height: 15%;
  /* position: absolute; */
}

.headline-content h1 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 52px;
  font-family: inherit;
  margin-bottom: 3%;
}

.headline-content p {
  color: #000;
  font-weight: 500;
  font-size: 22px;
}

.shop-now {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  position: absolute;
  right: 0;
  margin-top: 5%;
}

.headline-content {
  position: absolute;
  width: 500px;
  z-index: 1;
  right: 15%;
  bottom: 40%;
}

.little-plants {
  position: absolute;
  top: 0;
  z-index: 0;
}

.tiny1 {
  position: absolute;
  top: 15vh;
  left: 7vw !important;
}
.tiny2 {
  position: absolute;
  top: 45vh;
  left: 2vw;
}
.tiny3 {
  position: absolute;
  top: 80vh;
  left: 15vw;
}
.tiny4 {
  position: absolute;
  top: 15vh;
  left: 35vw;
}
.tiny5 {
  position: absolute;
  top: 50vh;
  left: 38vw;
}
.tiny6 {
  position: absolute;
  top: 23vh;
  left: 55vw;
}
.tiny7 {
  position: absolute;
  top: 75vh;
  left: 47vw;
}
.tiny8 {
  position: absolute;
  top: 10vh;
  left: 75vw;
}
.tiny9 {
  position: absolute;
  top: 30vh;
  left: 70vw;
}
.tiny10 {
  position: absolute;
  top: 70vh;
  left: 90vw;
}

/* New arrival section */

.header-links {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3%;
}

.header-link {
  font-size: 24px;
  font-weight: 600;
}

.active-header-link {
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

.decor-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin-top: 3%;
}

.decor-plant:nth-child(odd) {
  background-color: var(--primary-1);
}

.decor-plant:nth-child(odd) .price,
.decor-plant:nth-child(odd) .text,
.decor-plant:nth-child(odd) .heart {
  color: #fff;
}

.decor-plant:nth-child(even) {
  background-color: var(--primary-2);
}

.decor-plant {
  width: 350px;
  height: 450px;
  border-radius: 0 40px;
  position: relative;
  display: grid;
}

.decor-plant .price {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  right: 10%;
  top: 5%;
}

.decor-plant .text {
  font-size: 18px;
  font-weight: 600;
  transform: rotate(270deg);
  position: absolute;
  align-self: center;
  left: -20px;
  padding-top: 0;
}

.decor-plant img {
  align-self: center;
  position: absolute;
  justify-self: center;
  width: 165px;
  height: 320px;
}

.add-cart {
  color: #000;
  font-family: inherit;
  font-weight: 600;
  background-color: #fff;
  position: absolute;
  bottom: 5%;
  left: 7%;
}

.heart {
  font-size: 22px;
  background-color: #fff;
  padding: 8px;
  font-weight: 500;
  color: #000 !important;
  border-radius: 50%;
  position: absolute;
  bottom: 6%;
  right: 8%;
}

/* Plant care */

.plant-care-section {
  margin-top: 5%;
}

.plant-care-headline {
  font-size: 28px;
  font-weight: 600;
  color: var(--primary-color);
  text-align: center;
}

.plant-care-content h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 3%;
  letter-spacing: 1.5;
}

.plant-care-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: var(--black-1);
  margin-bottom: 5%;
  letter-spacing: 1px;
}

.plant-care-image {
  width: 40vw;
  height: 80vh;
  margin-left: 0;
}

.plant-care-content {
  width: 30%;
  margin-top: 4%;
}

.plant-care-container {
  display: flex;
  justify-content: center;
  /* margin-bottom: 5%; */
}

/* Need Plant */

.need-plant {
  height: 60vh;
  width: 40vw;
}

.need-plant-content {
  width: fit-content;
  color: #fff;
}

.need-plant-content-container {
  display: flex;
}

.need-plant-content-container p {
  width: 30%;
  margin-right: 5%;
  line-height: 32px;
  font-weight: 400;
  font-size: 16px;
}

.need-plant-content-container form {
  display: flex;
  flex-direction: column;
}

.need-plant-content-container form input {
  height: 35px;
}

.need-plant-content-container form textarea {
  height: 150px;
}

.need-plant-content-container form input,
.need-plant-content-container form textarea {
  color: #979797;
  background-color: #d9d9d9;
  font-family: inherit;
  width: 250px;
  border: none;
  font-size: 14px;
  margin-bottom: 5%;
  font-weight: 500;
  padding: 5%;
}

.need-plant-container {
  background-color: var(--primary-1);
  position: relative;
  display: flex;
  padding-bottom: 4%;
}

.need-plant2 {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 10%;
  top: -25%;
}

.need-plant-header {
  padding-top: 7%;
  padding-left: 200px;
  margin-bottom: 5%;
  font-weight: 600;
}

/* Footer */

.linkedin,
.facebook,
.twitter,
.instagram {
  padding: 15px;
  font-size: 20px;
  color: #fff;
  background-color: var(--primary-1);
  border-radius: 50px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  gap: 1rem;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 2%;
  font-weight: 300;
  font-size: 10px;
}
